.header {
  text-align: center;
  background-color: #282c34;
  color: white;
  padding: 20px 0;
}

.filter-section {
  text-align: center;
  margin: 20px 0;
}

.filter-btn {
  padding: 10px 20px;
  margin: 5px;
  background-color: #5eb2d0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.filter-btn:hover {
  background-color: #46869d;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
